<header class="details__header">
  <h2>{{model.business.name}}</h2>
  {{#if model.favorite}}
    <button class="unsave" {{action "unsave"}}>Unsave</button>
  {{else}}
    <button class="save" {{action "save"}}>Save</button>
  {{/if}}
</header>
<ul>
  <li>URL: {{model.business.url}}</li>
</ul>

{{outlet}}